@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');

/* COMMON */
.white { color:#fff; }
.purple { color:#49376E; }
.inner { width: 1630px; margin:0 auto; }

* {
  margin: 0;padding: 0;
  list-style: none;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  font-family: 'Noto Sans KR', sans-serif;
  overflow-x: hidden;
}
body {
  text-align: center;
}
header {
  width: 100vw;
  height: 100vh;
  background: url('../img/headerbg.png') no-repeat center / cover;
}
header span {
  font-size: 48px;
  font-weight: 700;
  white-space: nowrap;
  position: absolute;
  left: 50%;top: 30%;
  transform: translate(-50%,-50%);
}

#gifs ul {
  display: flex;
  margin-top: 180px;
}
#gifs li { width: 25%; }
#gifs img { width: 200px; }
#gifs h6 { font-size: 36px; margin:36px auto 17px; }
#gifs span { font-size: 24px; }

#intro { margin-top: 180px; }
#intro .wrap {
  display: flex;
  justify-content: center;
}
#intro .wrap * { width: 50%; }
#intro h4 { font-size: 74px; }
#intro span { font-size: 20px; }

#intro .wrap:nth-child(2) {
  margin-top:120px;
  flex-direction: row-reverse;
}
#intro .wrap:nth-child(1) h4 { text-align: right; margin-right: 50px;}
#intro .wrap:nth-child(1) span { text-align: left; margin-left: 50px; }
#intro .wrap:nth-child(2) h4 { text-align: left; margin-left: 50px; }
#intro .wrap:nth-child(2) span { text-align: right; margin-right: 50px; }

#skills {
  margin-top: 200px;
  width: 100vw;
  height: 660px;
  background: #191B3F;
  position: relative;
  overflow: hidden;
  user-select:none;
}
#skills .text {
  display: flex;
  animation: textSlide 30s linear infinite;
}
#skills .text p {
  font-size: 25vw;
  font-weight: 700;
  line-height: 660px;
  margin:0 7vw;
  opacity: 40%;
}
#skills ul {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;top: 50%;
  font-size: 6rem;
  font-weight: 700;
  color:#fff;
}
#skills ul {
  transform: translate(-50%,-40%);
  width: 80%; height: 80%;
  flex-wrap: wrap;
}
#skills li { margin:0 4vw; }
#skills li img { width: 110px; height:115px; display: block; }
#skills li h6 { display: inline; }
#skills li span { font-size: 2.5rem; }
@keyframes textSlide {
  from { transform: translateX(0); }
  to { transform: translateX(-100%); }
}

#project .slider { display: flex; align-items: center; }
#project .wrap { margin:0 60px; }
#project h2 { font-size: 86px; margin:190px auto 230px;}
#project h6 {
  font-size: 56px;
  position: relative;
  display: inline;
  white-space:nowrap;
}
#project h6::before {
  content: '';
  position: absolute;
  left: 50%;bottom: -6px;
  transform: translateX(-50%);
  width: 100%;
  height: 4px;
  background: #49376E;
}
#project img { width: 100%; margin:60px auto; }

/* Slider */
#project .slick-dots button {
  text-indent: -9999px;
  border: none;
  width: 25px;height: 25px;
  border-radius: 50%;
  transition: .3s;
}
#project .slick-dots {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 50%; top: -100px;
  transform: translateX(-50%);
  width: 200px;
}
#project .slick-dots button:hover { background: #49376E; cursor: pointer; }
#project .slick-dots li.slick-active button { background: #49376E; }
#project .slick-arrow { font-size:150px; color: #8E8E8E; font-weight: bold; cursor: pointer; }

footer {
  margin: 180px auto 0;
  width: 1920px;
  height: 1270px;
  background: url('../img/footerbg.png') no-repeat center / cover;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
footer .left h6 {
  font-size: 86px;
  text-align: left;
}
footer .left p {
  font-size: 24px;
  text-align: left;
}
footer .left img { margin:100px auto 0; }
footer .left ul {
  margin:0 auto;
  display: flex;
  justify-content: space-around;
  width: 80%;
}

footer .right {
  width: 1108px; height: 745px;
  background: url('../img/browser.png') no-repeat center / cover;
  position: relative;
}
.browser {
  width: 97%;height: 84%;
  position: absolute;
  left: 0;bottom: 0;
  text-align: left;
}
.browser li {
  width: 100%; height: 70px;
  border-bottom: 1px dotted #000;
  font-size: 24px;
  padding: 15px 60px;
}
.browser li span {
  display: inline-block;
  width: 100px;
}
.browser li input {
  font-size: 24px;
  margin-left: 40px;
  border: none;
}
.browser .wrap {
  padding:0 60px;
  position: relative;
}
.browser strong {
  display: block;
  font-size: 16px;
  line-height: 60px;
  margin-bottom: 16px;
}
.browser .wrap span {
  font-size: 16px;
  padding: 10px 660px 10px 30px;
  background: #DDE1E5;
  border-radius: 6px;
}
.browser .check {
  position: absolute;
  left: 320px;top: 82px;
}
.browser .message {
  display: block;
  font-size: 16px;
  margin-top: 40px;
  width: 95.6%;
  height: 210px;
  padding: 0 30px;
  border: 1px dotted #000;
}
.browser .wrap button {
  font-size: 20px;
  font-weight: bold;
  width: 200px;height: 45px;
  background: #49376E;
  border-radius: 22.5px;
  display: block;
  margin: 35px auto;
  cursor: pointer;
}